<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.png" type="image/gif" sizes="16x16">

    <title>C-CUBE</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="/stylesheets/style_admin_signin.css">
    <link rel="stylesheet" href="/stylesheets/style_Logo.css">

</head>
<body>
  <img src="/images/logo_image.png" alt="C-CUBE Logo">
            <div id="circle1">
              <div id="inner-cirlce1">
              </div>
            </div>
            <div class="cube">
              <h2>C-CUBE</h2>
              <p>Computing-competitions-Creativity</p>
            </div>
            <div id="login_title"> 
              <h2>Sign In</h2>
            </div>
          <div class="login">
            <form class="login__form" method="POST" action="/admin">
              <p style="color:#996e39; font-size: 20px; font-weight: bold; font-style: italic;"><%=msgsignin%> </p>
              <input type="hidden" name="form" value="signin"/>
              <div class="login__row">
                <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                  <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                </svg>
                <input type="email" class="login__input name" name="email" placeholder="Email" required/>
              </div>
              <div class="login__row">
                <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                  <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                </svg>
                <input type="password" class="login__input pass" name="password" placeholder="Password" required/>
              </div>
              <button type="submit" class="login__submit">Sign in</button>
              <!-- <p class="login__signup">Don't have an account? &nbsp;<a href="/admin/add_new_admin">Sign up</a></p> -->
            </form>
      </div>
</body>
</html>