<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>C-Cube</title>
    <link rel="stylesheet" href="/stylesheets/style_Logo.css">
    <link rel="stylesheet" href="/stylesheets/style_PaymentProg.css">

    <!-- Bootstrap library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <img src="/images/logo_image.png" alt="C-CUBE Logo">
  <div id="circle1">
    <div id="inner-cirlce1">
    </div>
  </div>
  <div class="cube">
    <h2>C-CUBE</h2>
    <p>Computing-competitions-Creativity</p>
  </div>
   
  <div class="container">
    <!-- Verification Entry Jumbotron -->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron text-center">
          <h3>You will recieve mail on your Email address that you provide Now check your Inbox</h3>
          <h3>Click On the link that are available in mail and verify your Email</h3>
        </div>
      </div>
    </div>
    <!-- Instructions -->
    <div class="row">
      <div class="alert alert-success col-md-12" role="alert" id="notes">
        <h4>NOTES</h4>
        <ul>
          <li>If somehow, you did not recieve the verification email then <a href="#" id="resend">resend the verification email.</a></li>
          <li>If you shut down the browser then the link will be expired and again fill the form.</li>
          <li>If somehow, you did not recieve the verification email then check your email address and again fill form Or contact us.</a></li>
        </ul>
      </div>
    </div>
  </div>   
  
  <footer>
    <div class="container">
      <div class="row footer">
        <div class="col-sm-6">
          <h3>FOLLOW US</h3>
            <div class="footer-icons1">
                <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-sm-6">
          <h3>CONTACT US</h3>
          <div class="footer-icons2">
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> <p>noumanarain0@gmail.com</p><br>
              <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i> <p>03133493416</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
<script>
  var resend=document.getElementById("resend");
  function clickHandler(element) {
      location.reload();
  }

  resend.addEventListener("click",clickHandler)
</script>
</html>